/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;

  header {
    background-color: black;
  }

  main {
    background-color: white;
  }

  footer {
    background-color: black;
  }
}

// HEADER
header {
  display: block;
  padding: 20px;

  img {
    width: 60%;
    max-width: 220px;
    display: block;
    margin: 0 auto;
  }
}

// MAIN
main {
  section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.5)),
      url("../img/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    place-content: center;

    .hide {
      background-color: white;
      border-radius: 8px;
      text-align: center;
      margin: 10px auto;
    }

    h1 {
      color: white;
      font-size: clamp(10px, 5vw, 38px);
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 5px;
    }

    svg {
      width: 90%;
      margin: 0 auto;
      display: block;
      height: auto;

      circle {
        fill: #4459d7;
        filter: drop-shadow(0 0 0.75rem #6f81e7);
        transition: all 120ms ease-in-out;
      }

      circle:hover {
        cursor: pointer;
        fill: rgb(250, 213, 112);
      }

      path {
        fill: #9665b6;
        stroke: #7f45a5;
        stroke-width: 2px;
        filter: drop-shadow(0 0 0.5rem #684d81);
      }

      .rectangle {
        fill: #f0f0f0;
        stroke: #000;
        stroke-width: 1px;
      }

      .text {
        font-size: 12px;
        fill: black;
      }

      #cdmx-rect {
        width: 220px;
        height: 120px;
      }

      #guadalajara-rect {
        width: 300px;
        height: 200px;
      }

      #monterrey-rect {
        width: 200px;
        height: 120px;
      }

      #puebla-rect {
        width: 200px;
        height: 120px;
      }

      #cancun-rect {
        width: 200px;
        height: 120px;
      }

      #villahermosa-rect {
        width: 200px;
        height: 120px;
      }

      #queretaro-rect {
        width: 200px;
        height: 120px;
      }

      #veracruz-rect {
        width: 200px;
        height: 120px;
      }

      /*
      :hover {
        fill: #b655c9;
        cursor: pointer;
      }
      */
    }
  }
}

// FOOTER
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;
      margin: 1.1em 1em;
      font-size: clamp(10px, 5vw, 20px);
      transition: all 190ms ease-in-out;
    }

    a:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  p {
    color: white;
    margin-block-start: 0.3em;
    margin-block-end: 1.5em;
    font-size: clamp(5px, 5vw, 22px);
  }
}
