/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;

  header {
    background-color: black;
  }

  main {
    background-color: white;
  }

  footer {
    background-color: black;
  }
}

// HEADER
header {
  display: block;
  padding: 20px;

  img {
    max-height: 30px;
    display: block;
    margin: 0 auto;
  }
}

// MAIN
main {
  section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.5)),
      url("../img/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    place-content: center;

    h1 {
      color: white;
      font-size: 35px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 5px;
    }

    svg {
      width: 90%;
      margin: 0 auto;
      display: block;
      height: auto;

      circle {
        fill: #7489fc;
        filter: drop-shadow(0 0 0.75rem #4459d7);
      }

      path {
        fill: none;
        stroke: #a245c7;
        stroke-width: 2px;
        filter: drop-shadow(0 0 0.75rem #b0398d);
      }
      :hover {
        fill: #b655c9;
        cursor: pointer;
      }
    }
  }
}

// FOOTER
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      margin: 1.1em 1em;
      font-size: 22px;
    }
  }

  p {
    color: white;
    margin-block-start: 0.3em;
    margin-block-end: 1.5em;
  }
}
