body {
  background-color: black;

  header {
    background-color: black;
  }

  main {
    background-color: white;
  }

  footer {
    background-color: black;
  }
}

// HEADER
header {
  nav {
    a {
      color: white;
    }
  }
}

// MAIN
main {
  section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.5)),
      url("../img/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 150px 0px;
    

    :hover {
      fill: #b0398d;
      cursor: pointer;
    }

    path {
      fill: none;
      stroke: #b0398d;
      stroke-width: 2px;
    }
  }
}

// FOOTER
footer {
  nav {
    a {
      color: white;
    }
  }
  p {
    color: white;
  }
}
