/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
}
body header {
  background-color: black;
}
body main {
  background-color: white;
}
body footer {
  background-color: black;
}

header {
  display: block;
  padding: 20px;
}
header img {
  width: 60%;
  max-width: 220px;
  display: block;
  margin: 0 auto;
}

main section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.5)), url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
  place-content: center;
}
main section .hide {
  text-align: center;
  margin: 10px auto;
}
main section h1 {
  color: white;
  font-size: clamp(10px, 5vw, 38px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
main section button {
  font-size: clamp(9px, 5vw, 16px);
  font-family: "Poppins", sans-serif;
  padding: 5px 7px;
  transition: all 120ms ease-in-out;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
main section button:hover {
  cursor: pointer;
  background-color: rgb(222, 223, 223);
}
main section svg {
  width: 90%;
  margin: 0 auto;
  display: block;
  height: auto;
  /*
  :hover {
    fill: #b655c9;
    cursor: pointer;
  }
  */
}
main section svg circle {
  fill: #2a328a;
  filter: drop-shadow(0 0 0.75rem #6371c4);
  transition: all 120ms ease-in-out;
}
main section svg circle:hover {
  cursor: pointer;
  fill: #ffcb05;
}
main section svg .ocultando-estado {
  display: none;
}
main section svg .mostrando-estado {
  display: block;
}
main section svg path {
  fill: #b283c0;
  stroke: #8e52a1;
  stroke-width: 2px;
  filter: drop-shadow(0 0 0.5rem #73568d);
}
main section svg .rectangle {
  fill: #f0f0f0;
  stroke: #f0f0f0;
  stroke-width: 1px;
  border-radius: 10px;
}
main section svg .text {
  font-size: 12px;
  fill: #000434;
}
main section svg .text .title {
  font-size: 15px;
  font-weight: 700;
}
main section svg .text .subtitle {
  font-size: 13px;
  font-weight: 600;
}
main section svg #cdmx-rect {
  width: 245px;
  height: 305px;
}
main section svg #guadalajara-rect {
  width: 275px;
  height: 290px;
}
main section svg #monterrey-rect {
  width: 200px;
  height: 205px;
}
main section svg #puebla-rect {
  width: 212px;
  height: 305px;
}
main section svg #cancun-rect {
  width: 200px;
  height: 150px;
}
main section svg #villahermosa-rect {
  width: 205px;
  height: 238px;
}
main section svg #queretaro-rect {
  width: 235px;
  height: 235px;
}
main section svg #veracruz-rect {
  width: 215px;
  height: 205px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav a {
  color: white;
  margin: 1.1em 1em;
  font-size: clamp(10px, 5vw, 20px);
  transition: all 190ms ease-in-out;
}
footer nav a:hover {
  cursor: pointer;
  opacity: 0.6;
}
footer p {
  color: white;
  margin-block-start: 0.3em;
  margin-block-end: 1.5em;
  font-size: clamp(5px, 5vw, 22px);
}/*# sourceMappingURL=main.css.map */